DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
JWT_SECRET="your-secure-jwt-secret-min-32-chars"
NEXT_PUBLIC_SITE_URL="https://your-domain.com"
NEXT_PUBLIC_SITE_NAME="Gudala Family Foundation"
